<style>
@import url('https://fonts.googleapis.com/css2?family=Ponnala&display=swap');
</style>
h1 {
    .bebas-neue-regular {
        font-family: "Ponnala"
        font-weight: 400;
        font-style: normal;
    }

}

body {
    color: black;
    background: whitesmoke;
    margin: 5px
}

header {
    border-bottom: solid 2px darkred;
    padding: 20px 32px;
    font-size: 32px;
}

section {
    background: gray;
}