<style>
@import url('https://fonts.googleapis.com/css2?family=Ponnala&display=swap');
</style>
h1 {
    font-family: "Ponnala"; 
}
    

}

body {
    color: black;
    background: whitesmoke;
    margin: 5px
}

header {
    border-bottom: solid 2px darkred;
    padding: 20px 32px;
    font-size: 32px;
}

section {
    background: gray;
}